---
import Initial from "../components/Initial.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Proyectos from "../components/Proyectos.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <header>
    <Header />
  </header>
  <main>
    <Initial />
    <Proyectos />
  </main>
  <footer>
	<Footer />
  </footer>
</Layout>
