---
import Initial from "../components/Initial.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import Habilidades from "../components/Habilidades.astro";
import Experiencia from "../components/Experiencia.astro";
---

<Layout>
  <header>
    <Header />
  </header>
  <main>
    <Initial />
    <Experiencia />
    <Proyectos />
    <Habilidades />
    <Contacto />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
