---
import { Image } from "astro:assets";

import Correo from "../assets/email.svg";
import Avion from "../assets/avion.svg";
import Copia from "../assets/copia.svg";
---

<section class="mt-8 mb-2">
  <span
    class="flex self-start font-semibold text-white underline items-center justify-center gap-2 text-xl mb-10 md:text-4xl
     xl:text-5xl"
  >
    <Image
      class="w-7 xl:w-16"
      src={Correo}
      alt={"Logo Correo"}
      loading={"lazy"}
    />
    Contacto
  </span>
  <div class="flex flex-col gap-8 max-w-4/5 justify-center items-center mx-auto">
    <p class="text-sm font-medium text-center text-white sm:text-base md:text-xl xl:text-lg">
      Estoy en busca de nuevas oportunidades. ¡Mi correo electrónico esta
      abierto!
    </p>
    <div class="flex items-center justify-center gap-4 w-full">
      <div class="h-10 bg-gray-800 rounded-lg text-white border-solid border-gray-300 overflow-hidden">
        <span class="block truncate px-2 py-2">calventeramirez@outlook.com</span>
      </div>
      <div class="flex items-center justify-center gap-4">
        <a href="mailto:calventeramirez@outlook.com"
          class="cursor-pointer bg-gray-300 px-3 py-4 rounded-lg text-gray-800 gap-2"><Image src={Avion} alt={"Logo Avion"} loading={"lazy"} /></a
        >
        <button id="botonCopia"  class="cursor-pointer bg-gray-300 px-3 py-4 rounded-lg text-gray-800 gap-2">
          <Image src={Copia} alt={"Logo Copia"} loading={"lazy"} />
        </button>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const boton = document.getElementById("botonCopia");
    boton?.addEventListener("click", () => {
      const email = "calventeramirez@outlook.com";
      navigator.clipboard.writeText(email);
    });
  });
</script>
