---
---
<div class="flex items-center justify-center mb-8 mt-8 p-8">
    <span class="text-white text-base md:text-2xl">
        Desarrolado por <a class="no-underline text-blue-500" target="_blank" href="http://github.com/calventeramirez">Pablo Jesús Calvente Ramírez</a>
    </span>
</div>