---
import Image from "astro/components/Image.astro";
import avatar from "../assets/avatar.png";
---

<section class="flex flex-col-reverse justify-center items-center gap-28 mt-14 sm:flex-row sm:gap-x-14 md:gap-28 lg:gap-10">
  <div class="flex flex-col justify-center gap-2 items-center sm:items-start sm:w-4/12 lg:w-3/6 lg:items-center">
    <h1 class="text-white text-6xl font-medium sm:text-3xl md:text-4xl lg:text-5xl">¡Hola!</h1>
    <h2 class="text-white text-4xl font-medium sm:text-3xl md:text-4xl lg:text-5xl">
      Soy <span class="text-blue-500 md:">Pablo Calvente</span>
    </h2>
    <span class="text-lg font-medium text-white sm:text-sm md:text-md lg:text-lg 2xl:text-2xl"
      >Full Stack Developer | React | Angular | Java EE</span
    >
    <div class="mt-5 flex content-start items-center gap-y-8 flex-col sm:flex-row sm:gap-x-8 lg:mt-10">
      <a
        id="downloadCV"
        class="rounded-2xl bg-blue-700 text-white px-10 h-20 shadow-md no-underline flex items-center content-center sm:h-16 sm:px-10 sm:w-48 md:text-md"
        href="#">Descargar CV</a
      >
      <a
        id="viewCV"
        class=" rounded-2xl bg-blue-700 text-white px-14 h-20 w-auto shadow-md no-underline flex items-center content-center sm:h-16 sm:px-10 sm:w-32 md:text-md"
        href="#" target="_blank">Ver CV</a
      >
    </div>
  </div>
  <Image
    class="object-cover w-52 h-52 rounded-full bg-blue-700 border-s-blue-700 lg:w-60 lg:h-60"
    src={avatar}
    alt={"Pablo Calvente"}
  />
</section>

<script>
  const userLang = navigator.language || navigator.language[0];
  const isSpanish = userLang.toLowerCase().startsWith('es');

  const cvPath = isSpanish ? '/CV_spanish.pdf' : '/CV_english.pdf';

  const downloadLink = document.getElementById('downloadCV');
  const viewLink = document.getElementById('viewCV');

  if(downloadLink && viewLink) {
    downloadLink.setAttribute('href', cvPath);
    downloadLink.setAttribute('download', isSpanish ? 'CV-Pablo_Calvente.pdf' : 'CV-Pablo_Calvente_English.pdf');
    viewLink.setAttribute('href', cvPath);
  }
</script>
