---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Hola soy Pablo Calvente, desarrollador web."
    />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://calvente.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pablo Calvente - Desarrollador Web" />
    <meta
      property="og:description"
      content="Bienvenidos a mi portafolios, en el encontraras información sobre mis habilidades y proyectos."
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/715255ab-bed5-4ab2-8059-ed55326aedee.png?token=sx89g_oxYjVKl5A9lgdKXRyjjWo0r4jt_dkKjHazLd8&height=379&width=1200&expires=33275297752"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="calvente.vercel.app" />
    <meta property="twitter:url" content="https://calvente.vercel.app" />
    <meta name="twitter:title" content="Pablo Calvente - Desarrollador Web" />
    <meta
      name="twitter:description"
      content="Bienvenidos a mi portafolios, en el encontraras información sobre mis habilidades y proyectos."
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/715255ab-bed5-4ab2-8059-ed55326aedee.png?token=sx89g_oxYjVKl5A9lgdKXRyjjWo0r4jt_dkKjHazLd8&height=379&width=1200&expires=33275297752"
    />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <title>Pablo Calvente</title>
  </head>
  <body class="bg-gray-900">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
